{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="logo-wrapper">
        <img src="img/icon-lunchbox.svg" alt="Lunchbox">
    </div>
</header>
{% endblock header_content %}

{% block content %}
<div class="container">

    <div class="poster-wrapper col-sm-4">
        <a href="quotable/index.html"><img src="img/icon-quotable.svg" height="150" width="150"alt="Quotable" />
        <h3>Sitatplakater</h3></a>
        <p>Gjør sitater om til delebilder med logo</p>
    </div>

    <div class="poster-wrapper col-sm-4">
        <a href="factlist/index.html"><img src="img/icon-factlist.svg" height="150" width="150" alt="Factlist" />
        <h3>Faktaliste</h3></a>
        <p>Lag et BT-brandet bilde med liste over siste nytt/fakta i en sak
            <i>(Eks: i en breaking news-sak)</i></p>
    </div>

    <div class="poster-wrapper col-sm-4">
        <a href="waterbug/index.html"><img src="img/icon-waterbug.svg" height="150" width="150"alt="Waterbug" />
        <h3>Vannmerke</h3></a>
        <p>Lager et BT-vannmerke og fotocredit i bilder du skal dele</p>
    </div>

    <div class="row">
      <div class="col-md-12 poster-wrapper"><br><br><br><br><br><br><br>
        <p>Sist oppdatert {{ now }} | Kontakt bord4@bt.no om du har spørsmål.</p>
      </div>
    </div>

</div>
{% endblock %}


{% block wide_content %}
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('./js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{{ JS.render('js/jquery.min.js') }}
{% endif %}
{% endblock jquery %}
